# CODEOWNERS file (from GitHub template at
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @jonavellecuerdo and @eturnator will be requested for review when
# someone opens a pull request.
*       @jonavellecuerdo
*       @eturnator